
@import "lib/variables";
@import "lib/common";
@import "lib/navbar";
@import "lib/home";
@import "lib/about";
@import "lib/work";
@import "lib/services";
@import "lib/contact";

.box{
    width:100%;
    height:200px;
    background:$mainColor;
}

.box-xs {
    width: 100%;
    height: 100px;
    background: $secondaryColor;
}
*{
    transition:all .3s ease;
}